@import url("https://use.typekit.net/vla4nqs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

nav > * {
    @apply text-black;
}



.links {
  @apply hover:scale-125 hover:text-black transition-all ease-in-out;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 1em;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    margin: 2em 0;
  }



  body { 
    background-image: url("https://res.cloudinary.com/dzwbcfmbe/image/upload/v1719434896/BG_1_1_d2hftv.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }

span.green,
span.red,
span.black {
  display: inline-block;
  padding: 3px 10px;
  width: auto;
  border-radius: 3px;
  color: white;
}

.green {
  background: green;
}

.red {
  background: red;
}

.black {
  background: black;
}


.font-sophisto {
  font-family: sophisto, sans-serif;
}