@import url("https://use.typekit.net/vla4nqs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

nav > * {
    @apply text-black;
}



.links {
  @apply hover:scale-125 hover:text-black transition-all ease-in-out;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 1em;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    margin: 2em 0;
  }



  body { 
    background-image: url("https://res.cloudinary.com/dzwbcfmbe/image/upload/v1719434896/BG_1_1_d2hftv.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }

span.green,
span.red,
span.black {
  display: inline-block;
  padding: 3px 10px;
  width: auto;
  border-radius: 3px;
  color: white;
}

.green {
  background: green;
}

.red {
  background: red;
}

.black {
  background: black;
}


.font-sophisto {
  font-family: sophisto, sans-serif;
}


.clip-path:
 polygon(1% 3%, 14% 6%, 20% 2%, 29% 9%, 42% 0%, 49% 10%, 60% 1%, 58% 13%, 77% 1%, 78% 11%, 84% 0%, 88% 13%, 99% 25%, 92% 29%, 100% 39%, 92% 43%, 100% 46%, 96% 52%, 90% 58%, 99% 57%, 95% 64%, 98% 75%, 93% 82%, 97% 88%, 100% 96%, 84% 94%, 78% 99%, 69% 92%, 59% 99%, 52% 93%, 50% 100%, 39% 92%, 34% 100%, 26% 92%, 23% 100%, 15% 91%, 7% 100%, 0% 93%, 4% 78%, 1% 71%, 8% 62%, 3% 54%, 9% 47%, 1% 39%, 4% 31%, 0% 22%, 7% 13%);